
/* general text and content */
.jumbotron {
  padding-top:7%;
  padding-bottom:2%;
}

p {
  /* font-family: FreeMono; */
  /* color: rgb(33, 86, 92); */
}

h1 {
  font-weight: bold;
}

/* contact link arrangement */
.contact_links {
  margin:auto;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-evenly;
}

/* button arrangement */
.buttons {
  padding-bottom:2%;
  margin:auto;
  display: flex;

  flex-flow: row wrap;
  justify-content:left;
}

.buttons a {
  margin-right:1%;
}

/* primary button */
.button-1 {
  background-color: #20a243;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

/* navbar styles */
.navbar {
  position:sticky;
  z-index:1;
  background-color: #cde4df;
}

.navbar-brand {
  font-weight: bold;
}

/* project page side nav styles */

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #e3efed;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 1%;
}


.sidenav .nav-item{
  padding-top:7%;
  font-size: 18px;
  color: #032f2a;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #a1c0ff;
}

.sidenav .collapse {
  padding-bottom:0%;
  padding-left: 80%;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#expandBtn {
  display:none;
}

.expand {
  position:fixed;
  padding-left: 1%;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items:center;
}

.inline {
  display: inline-block;
}

.sidenav .active {
  font-weight: bold;
}


div.content {
  padding-left: 1%;
  margin-left: 200px;
}

/* project page links */
.links {
  margin: auto;
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* footer */
.footer {
  margin-top:2%;
  width:100%;
  background-color: rgb(198, 209, 210);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.footer p {
  padding-top:1%;
  vertical-align: middle;
}

