
/* dark mode stuff */
/* Default (light mode) */
[data-theme-target] {
  transition: background-color 0.3s;
  transition: color 0.3s;
}

#intro {
  padding-top:7%;
  margin-bottom: 0;
  background-color: #bfd1ce;
}

#project-highlights {
  background-color: #e9fffb;
  padding-top:2%;
  padding-bottom:2%;
  margin-top: 0;
}

#theme-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

#theme-toggle:focus {
  outline: none;
}


h1 {
  padding-top: 2%;
  font-weight: bold;
}

/* news sectino */
.card {
  overflow: auto;
}

/* contact link arrangement */
.contact_links {
  margin:auto;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-evenly;
}

/* button arrangement */
.buttons {
  padding-bottom:2%;
  margin:auto;
  display: flex;

  flex-flow: row wrap;
  justify-content:left;
}

.buttons a {
  margin-right:1%;
}

/* primary button */
.button-1 {
  background-color: #20a243;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

/* navbar styles */
.navbar {
  position:sticky;
  z-index:1000;
  background-color: #cde4df;
  transition: background-color 0.3s;
  box-shadow: 0px 5px 10px rgb(117, 192, 227);
}

.navbar-brand {
  font-weight: bold;
}

/* project page side nav styles */

.sidenav {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #e3efed;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 5px 5px 10px rgb(117, 192, 227);
}


.sidenav .nav-item{
  padding-top:7%;
  font-size:14.5px;
  color: #032f2a;
  display: block;
  transition: 0.3s;
  border-radius: 5%/15%; 
}

.sidenav a:hover {
  color: #a1c0ff;
}

.sidenav .collapse {
  padding-bottom:0%;
  padding-left: 80%;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#expandBtn {
  display:none;
}

.expand {
  position:fixed;
  padding-left: 1%;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items:center;
}

.inline {
  display: inline-block;
}

/* 
.project-page {
  display:
} */

.content {
  width:100%;
}

/* project page links */
.links {
  margin: auto;
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* footer */
.footer {
  width:100%;
  background-color: #cde4df;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  transition: background-color 0.3s;
}

.footer p {
  padding-top:1%;
  vertical-align: middle;
}

/* sidebar section headers */
.section-content {
  display: none; /* Hide content by default */
  text-align: left;
  
}

.section-header {
  background: none;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.show-section {
  display: block;
}

.section-header:hover {
  background-color: #ddd;
}

.navbar-nav .active {
  text-decoration: underline;
  
}

.sidenav .active {
  font-weight: bold;
  background-color: #b0d0ea;
}


.date {
  font-size: small;
  color: gray;
}

.blog-home {
  /* margin-top: 5%; */
  padding-top:3%;
  display: none;
}


.callout {
  border:1px solid rgb(22, 101, 204);
  display: flex;
  width: 75%;
  padding:1%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
}

.image-caption {
  font-size:medium;
  font-style: italic;
  color: gray;
}

.blog-content {
  display:none;
}

.blog-grid {
  display: grid;
  justify-content:center;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  margin-left:5%;
  margin-right:5%;
}

.blog-thumbnail {
  width: 100%;
}

#blog-title {
  color:#032f2a;
}

.course-content {
  padding-bottom: 3%;
}

.list-group-item {
  background: none;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 9999;
  border-radius: 50%;
  background-color: rgba(83, 245, 199, 0.7);
  pointer-events: none;
  animation: particle-animation 2s forwards ease-out;
}

@keyframes particle-animation {
  0% {
      transform: scale(1) translate(0, 0);
      opacity: 1;
  }
  100% {
      transform: scale(0) translate(var(--dx), var(--dy));
      opacity: 0;
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  z-index: 9999;
  border: 2px solid rgba(129, 197, 243, 0.7);
  background-color: transparent;
  pointer-events: none;
  animation: ripple-animation 2s ease-out forwards;
}

@keyframes ripple-animation {
  0% {
      transform: scale(0);
      opacity: 1;
  }
  100% {
      transform: scale(3); /* Adjust the scale to control how far the ripple spreads */
      opacity: 0;
  }
}

#toggle-container {
  position: absolute;
  top: 5%;
  left: 2%;
  z-index: 9999;
  color: rgb(93, 78, 255);
  font-size: 16px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items:flex-start;
}


