<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./javascript/theme_init.js"></script>
    <link rel="stylesheet" href="./style.css">
    <script defer src="https://kit.fontawesome.com/9804079aca.js" crossorigin="anonymous"></script>
    <script defer src="./javascript/site_navbar.js"></script>
    <script defer src="./javascript/site_footer.js"></script>
    <script defer src="./javascript/theme_change.js"></script>
    <title>Page Name | Simon Wang</title>
  </head>
  <body class="project-body" data-theme-target>
    <site-navbar></site-navbar>
    <main class="container">
      <h1>Page Name</h1>
      <p>Page content.</p>
    </main>
    <site-footer></site-footer>
  </body>
</html>
