<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../javascript/theme_init.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script defer src="https://kit.fontawesome.com/9804079aca.js" crossorigin="anonymous"></script>
    <script defer src="../javascript/project_data.js"></script>
    <script defer src="../javascript/project_navigation.js"></script>
    <script defer src="../javascript/site_navbar.js"></script>
    <script defer src="../javascript/site_footer.js"></script>
    <script defer src="../javascript/theme_change.js"></script>
    <title>Project Name | Simon Wang</title>
  </head>
  <body class="project-body" data-theme-target>
    <site-navbar></site-navbar>
    <main>
      <div class="project-page" data-theme-target>
        <project-navigation></project-navigation>
        <div class="container">
          <div class="content">
            <h1>Project Name</h1>
            <p>Project subtitle</p>
            <h2>Introduction</h2>
            <p>Project content.</p>
          </div>
        </div>
      </div>
    </main>
    <site-footer></site-footer>
  </body>
</html>
